---
import Layout from "../layouts/Layout.astro";
import Topnav from "../components/Topnav.astro";
import Utopnav from "../components/Utopnav.astro";
import Menu from "../components/Menu.astro";
import Hero from "../components/Hero.astro";
---

<Layout>
  <div class="w-full mx-auto">
    <Topnav />
    <Utopnav />
    <Hero />
  </div>
  <div class="w-[95%] mx-auto">
    <Menu />
  </div>
</Layout>
