---

---

<div id="aboutUs" class="pt-24">
  <h2 class="text-4xl font-bold w-fit mx-auto">
    Sobre Nosotros – Mussolini’s Pizza
  </h2>
  <div class="flex flex-col gap-10 mt-14">
    <!-- Izquierda -->
    <section class="flex justify-between items-center">
      <p
        class="text-3xl rounded-r-2xl p-6 text-pretty self-center text-slate-50 bg-[#C8102E] w-[65%]"
      >
        En Mussolini’s Pizza creemos que una buena pizza no solo alimenta, sino
        que también crea momentos inolvidables.
      </p>
      <img src="/tumblr1.jpg" alt="" class="size-[30%] rounded-l-full" />
    </section>
    <!-- Derecha -->
    <section class="flex justify-between items-center flex-row-reverse">
      <p
        class="text-3xl rounded-l-2xl p-6 text-pretty self-center text-slate-50 bg-[#C8102E] w-[65%]"
      >
        Nacimos con la idea de combinar la tradición italiana con un toque
        moderno, ofreciendo un sabor auténtico en cada rebanada.
      </p>
      <img src="/tumblr2.jpg" alt="" class="size-[30%] rounded-r-full" />
    </section>
    <!-- Izquierda -->
    <section class="flex justify-between items-center">
      <p
        class="text-3xl rounded-r-2xl p-6 text-pretty self-center text-slate-50 bg-[#C8102E] w-[65%]"
      >
        Nuestro compromiso es usar ingredientes frescos y de calidad, preparar
        la masa de manera artesanal y servir cada pizza con pasión. Nos encanta
        innovar en el menú, pero siempre respetando las recetas clásicas que
        todos amamos.
      </p>
      <img src="/tumblr3.jpg" alt="" class="size-[30%] rounded-l-full" />
    </section>
    <!-- Derecha -->
    <section class="flex justify-between items-center flex-row-reverse">
      <p
        class="text-3xl rounded-l-2xl p-6 text-pretty self-center text-slate-50 bg-[#C8102E] w-[65%]"
      >
        Más que un restaurante, somos un espacio donde amigos, familias y
        parejas pueden reunirse a disfrutar de una comida deliciosa en un
        ambiente cálido y cercano.
      </p>
      <img src="/tumblr4.jpg" alt="" class="size-[30%] rounded-r-full" />
    </section>
  </div>
</div>
